.bookingHeader{
    margin-top: 40px;
}
.join{
    border-radius: 40px;
    background: #173042;
    padding: 100px;
    width: 180px;
    height: 150px;
    float: left;
    margin-left: 15%;
    display: flex;
    align-items: center;

}
.organize{
    border-radius: 40px;
    background-color: #173042;
    padding: 100px;
    width: 180px;
    height: 150px;
    float: right;
    margin-right: 15%;
    display: flex;
    align-items: center;

}

.button{
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:active{
    transform: translateY(-1px);
}
.button:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.bookingHelp{
    clear: both;
    margin-top: 400px;
}

.bookingHelp details{
    font-size: 20px;
}

ol{
    font-size: 15px;
    pad: 5px;
}

li{
    padding: 10px;
}