

.sidebar {
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #173042;
    overflow: auto;
    width: 250px;
}

.sidebar a:hover:not(.active) {
    background-color: #f2f2f2;
    color: black;
}
  
.sidebar a {
    text-decoration: none;
    display: block;
    color: #f2f2f2;
    padding: 14px;
}
   
.sidebar a.active {
    background-color: #236477;
    color: white;
}

.sidebar img{
    padding: 15px;
}
  
div.main-content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 120px;
    
}

.main-content{
    background-color: #cfdfda;
}

div.main-content h1{
    text-align: center;
}

div.main-content p{
    font-size: larger;
}

.class_count{
    position: relative;
    right: 25%;
    clear:both;
    top: 5%;
}

.stu_count{
    position: relative;
    left: 30%;
    top: 0%;
}

.class_shared{
    position: relative;
    top: 10%;
}

.rating{
    position: relative;
    top: 75%;
    right: 20%;
    text-align: center;
    font-size: larger;
}

.suggestions{
    position: relative;
    top: 70%;
    right: 20%;
    text-align: center;
    font-size: larger;
}

.summarytitle{
    font-size: larger;
}

.eventsbody{
    display: block;
}

.profile-class-desc{
    font-size: 12px;
}

.profile-class-desc input{
    margin-bottom: 10px;
}

.eventModal{
    background-color: aliceblue; 
    height: 350px; 
    width: 450px; 
    position: relative; 
    left: 30%; 
    border-radius: 5px; 
    padding: 10px;
    padding: 25px;
    color: #173042;
}
/* div.rectangle h1 {
    border-radius: 15px;
    height: 10em;
    background: #173042;
    margin: 10px;
    font-size: larger;
    margin-left: 20px;
    padding: 1px 16px;
    height: 120px;
    color: #f2f2f2;
    

} */
div.rectangle {
    border-radius: 15px;
    margin-left: 20px;
    padding: 1px 20px;
    height:450px;
    background-color: #173042;
    margin-top: 1.5em;
}

div.rectangle h1{
    text-align: center;
}

div.rectangle p{
    font-size: larger;
}
.Button
{
   height: 22px;
   line-break: 22px;
   vertical-align: right;
   margin-left: 190px;
}
.button{
    padding: 0.8em 3em;
  font-size: 12px;
  text-transform:none;
  letter-spacing: 1px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
   margin-left: 590px;
   width: 26em;
   margin-top: -80px;
 text-indent: -10px;
 line-break: -12px;
   
}

.button:active{
    transform: translateY(-1px);
}
.button:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-2px);
}