body {
    margin: 0;
    font-family: sans-serif;
    color: #cfdfda;
    font-size: 20px;
    text-align: center;
    padding: 1rem;
    height: 500px;
}

header{
    border-radius: 10px;
    height: 90px;
    font-family: sans-serif;
    color:#cfdfda;
    background-color: #236477;
    padding: 1px;
}
.body-style{
    color: #cfdfda;
    background-color: #cfdfda;
}
.join{
    border-radius: 40px;
    background: #173042;
    padding: 100px;
    width: 180px;
    height: 150px;
    float: left;
    margin-left: 15%;
    display: flex;
    align-items: center;

}
.organize{
    border-radius: 40px;
    background-color: #173042;
    padding: 100px;
    width: 180px;
    height: 150px;
    float: right;
    margin-right: 15%;
    display: flex;
    align-items: center;

}

.organizeInformation{
    border-radius: 25px;
  background-color: #173042;
  padding: 90px;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 20px;
  align-items:flex-end;
  text-align: left;
}
.joinInformation{
    border-radius: 25px;
  background-color: #173042;
  padding: 90px;
  width: 500px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  display: flex;
    align-items: center;
}
.Organizeanewsession{
    border-radius: 25px;
  background-color: #173042;
  padding: 100px;
  width: 400px;
  height: 20px;
  margin: 350px;
  display: flex;
    align-items: center;
    
}
.button{
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.button:active{
    transform: translateY(-1px);
}
.button:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.textBox{
    padding: 0.5em;
    font-size: 12px;
    text-transform:none;
    letter-spacing: 2.2px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.textBox:active{
    transform: translateY(-1px);
}
.textBox:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.options{
    padding: 0.2em;
    font-size: 12px;
    text-transform:none;
    letter-spacing: 2.2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.options:active{
    transform: translateY(-1px);
}
.options:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.info{
    padding: 60px;
    float: left;
    display:block;
    align-items: left;
    text-align: left;

}
.search{
    padding: 1.3em;
    font-size: 12px;
    text-transform:none;
    letter-spacing: 2.2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    display:block;
      width: 200px;
}
.search:active{
    transform: translateY(-1px);
}
.search:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-3px);
}
.joinASession{
    border-radius: 40px;
    background-color: #173042;
    padding: 40px;
    width: 210px;
    height: 300px;
    float: right;
    display:block;
    align-items: left;
    margin: 110px;

}
.joinbutton{
    padding: 1.2em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  
 
}
.joinbutton:active{
    transform: translateY(-1px);
}
.joinbutton:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.note{
    margin-top: 0.5%;
}
.grid-body{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    column-gap: 0px;
    row-gap: 20px;
    padding: 10px;
}
.img-grid{
    width:300px;
    height:300px;
    object-fit: cover;
    object-position: center;
    padding: 10px;
    border-radius: 10px;
}
.helpOrganise{
    border-radius: 40px;
    color: #cfdfda;
    background-color: #236477;
    padding: 50px;
    width: 280px;
    height: 200px;
    float: right;
    margin-top: 40px;
    margin-right: 190px;
    display: flex;
    align-items: center;
    text-align: left;
    
} 
.helpJoin{
    border-radius: 40px;
    background-color: #236477;
    color: #cfdfda;
    padding: 50px;
    width: 280px;
    height: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 190px;
    display: flex;
    align-items: center;
    text-align: centerd;
} 
/* Table */
.table{
    border-collapse: collapse;
    background-color: #cfdfda;
    color: #173042;
    margin: 100px;
    padding: 50px;
    width: 400px;
    height: 200px;
	font-size: 1.3rem;
	text-transform:none;
	letter-spacing:50%;
    margin: 20px 0;
    text-align: center;
    padding: 5px;

}
.table td:nth-child(1) {
    background-color: #236477;
    color: #173042;
    text-align: left;
}
.text{
    color:#173042;
}

td{
    padding-left: 5px;
}

.logIn{
    border-radius: 25px;
    background-color: #173042;
    padding: 90px;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    white-space: nowrap;

    
}
.logInStyle{
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 14px;
    text-transform:none;
    letter-spacing: 2.2px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
   text-align: left;
    outline: none;
    
}
.logInStyle:active{
    transform: translateY(-1px);
}
.logInStyle:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}
.acc{
    border-radius: 70px;
    height: 80px;
    padding: 1rem;
    margin-top: -125px;
}
.text1{
    text-align: center;
    color: #cfdfda;
    font-size: small;
    position: relative;
    top: 5%;
}
.text{
    text-align: center;
    color: #cfdfda;
    font-size: small;
    position: relative;
    top: 5%;
}

.text:hover{
    color: white;
}
.createAccount{
    border-radius: 25px;
    background-color: #173042;
    padding: 90px;
    width: 250px;
    height: 350px;
    margin: 0 auto;
    white-space: nowrap;
}
.SignUpInfo{
    padding:1rem;
    margin-bottom: -0.4rem;
    font-size: 14px;
    text-transform:none;
    letter-spacing: 2.2px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.SignUpButton{
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 5%;
}

.SignUpInfo:active{
    transform: translateY(-1px);
}
.SignUpInfo:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}   
.textarea{
    border-radius: 10px;
    height: 130px;
    width: 400px;
   margin-left: -45px;
   
}
.textBox2{
    padding: 0.5em;
    width: 200px;
    font-size: 12px;
    text-transform:none;
    letter-spacing: 2.2px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.helptext{
    text-align: center;
    color: #cfdfda;
    font-size: small;
    position: relative;
    top: 10%;
}

.TableHeadCol{
    color: white;
}

@media print {
    .body-style h1{
        font-size: 20px;
    }
 }
 .BackButton{
    width: 20px;
    border: none;
    border-radius: 15px;
    background: #fff;
    font-size: 18px;
    color: #173042;
    cursor: pointer;
    padding: 1rem;
    /* margin-top: -60px;
    margin-left: -170px; */
    text-align: center;
}

.BackButton:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}   

.BackButton2{
    width: 20px;
    border: none;
    border-radius: 15px;
    background: #fff;
    font-size: 18px;
    color: #173042;
    cursor: pointer;
    padding: 1rem;
    margin-top: -60px;
    margin-left: -150px;
    position: fixed;
    text-align: center;
}

.BackButton2:hover{
    background-color: #173042;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}   
